@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
#projectsheading{
    color: white;
    position: absolute;
    top: 26vh;
    left: 33vw;
    font-size: 3rem;
    font-family: 'Source Code Pro',monospace;
}
.Madeword{
    color: yellow;
    position: relative;
    top: 26vh;
    left: 52vw;
    font-size: 3rem;
    font-family: 'Source Code Pro',monospace;
}
#projects{
    position: absolute;
    top: 320vh;
}
.project1{
    background-color: rgb(39, 34, 63);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    position:relative;
    top: 34vh;
    height: 52vh;
    width: 26.5vw;
    margin-left: 5vw;
}
.p1heading{
    font-family: 'Source Code Pro',monospace;
    color: white;
    display: inline-block;
    margin-top: 5vh;
    margin-left: 7vw;
}
.p1language{
    color: white;
    position: relative;
    top: 6vh;
    left: 2vw;
    margin: 0.6vw;
}
.python{
    color: yellow;
    position: relative;
    left: 2vw;
}
.p1GUI{
    color: white;
    position: relative;
    top: 11vh;
    right: 9vw;
}
.guiNo{
    margin-left: 3vw;
    position: relative;
    left: 2.5vw;
}
.description{
    position: relative;
    top: 18vh;
    left: -16.5vw;
    color: white;
}
.descriptioncontent{
    font-family: 'Source Code Pro',monospace;
    position: relative;
    left: 17vw;
    color: white;
}
.readMore{
    color: white;
}
.readMoree{
    color: white;
}
.project2{
    background-color: rgb(39, 34, 63);
    border-radius: 10px;
    position: relative;
    left: 60vw;
    top: -18vh;
    margin-right: 10vw;
    height: 52vh;
    width: 26.5vw;
    margin-left: 5vw;
}
.project3{
    background-color: rgb(39, 34, 63);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    position:relative;
    height: 52vh;
    width: 26.5vw;
    left: 27vw;
    top: -70vh;
    margin-left: 8vw;
}
.otherprojects{
    font-family: 'Source Code Pro',monospace;
    height: 10vh;
    width: 10vw;
    position: relative;
    top: 420vh;
    left: 18vw;
    border-radius: 5vh;
    background-color: rgb(39, 34, 63);
    color: white;
}

@media screen and (max-width: 600px){
    #projects{
        position: absolute;
        top: 187vh;
    }   
    #projectsheading{
        position: absolute;
        top: 28vh;
        left: 18vw;
        font-size: 1.7rem;
    }
    .Madeword{
        position: relative;
        top: 28vh;
        left: 59vw;
        font-size: 1.7rem;
    }
    .project1{
        position:relative;
        top: 40vh;
        height: 36vh;
        width: 81.5vw;
        margin-left: 10vw;
    }
    .p1heading{
        margin-top: 4vh;
        margin-left: 7vw;
        position: relative;
        left: 10vw;
    }
    .p1language{
        position: relative;
        top: 2.4vh;
        left: 2vw;
        margin: 0.6vw;
    }
    .python{
        position: relative;
        left: 2vw;
    }
    .p1GUI{
        position: relative;
        top: 6vh;
        right: 33vw;
    }
    .guiNo{
        margin-left: 3vw;
        position: relative;
        left: 2.5vw;
    }
    .description{
        position: relative;
        top: 3vh;
        left: -51.5vw;
        width: 50vw;
    }
    .descriptioncontent{
        position: relative;
        left: 54vw;
    }
    .project2{
        position:relative;
        top: 60vh;
        height: 36vh;
        width: 81.5vw;
        left: 5vw;
    }
    .description{
        position: relative;
        top: 10vh;
        left: -51.5vw;
        width: 50vw;
    }
    .descriptioncontent{
        position: relative;
        left: 54vw;
    }
    .project3{
        position:relative;
        top: 80vh;
        height: 36vh;
        width: 81.5vw;
        left: 3vw;
    }
    .otherprojects{
        height: 6vh;
        width: 35vw;
        position: relative;
        top: 385vh;
        left: 30vw;
    }
}